# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Pytest
.cache/
.pytest_cache/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Python egg
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg

# Pipenv
Pipfile.lock

# MyPy
.mypy_cache/

# coverage reports
htmlcov/
.coverage
coverage.xml

# pytest
.pytest_cache/

# dotenv
.env
.env.*

# Idea/JetBrains
.idea/

# local settings
local_settings.py
